rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access for all files, as avatars and CVs need to be viewable.
    match /{allPaths=**} {
      allow read;
    }

    // Allow authenticated users to write/delete files only in their own designated folders.
    // This rule covers avatar uploads.
    match /avatars/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // This rule covers CV uploads.
    match /cvs/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
